/*
 * Because <object> doesn't scroll in iOS
 * Hide <object> in iOS and hide <iframe> in not iOS
 */
@media only screen and (max-device-width: 1024px) {
	object.file-embedder { display:none; }
	iframe.file-embedder { display:block; }
}
@media only screen and (min-device-width : 1024px) {
	object.file-embedder { display:block; }
	iframe.file-embedder { display:none; }
}
